body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #484950;
  color: #FFFFFF;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px;
  background-color: #585A62;
  height: 60px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-image {
  width: 50px;
  height: auto;
}

.company-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #FFFFFF;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu-item {
  padding: 5px 10px;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.menu-item:hover {
  background-color: #77967D;
}



.main-content {
  text-align: center;
  padding: 50px 20px;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}


.button {
  background-color: #3D3D3D;
  color: #FFFFFF;
  padding: 14px 30px;
  border: none;
  border-radius: 45px;
  font-size: 18px;
  cursor: pointer;
  transition: 
    background-color 0.3s,
    transform 0.2s,
    box-shadow 0.3s;
}

.button:hover {
  background-color: #2D2D2D;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-2px);
}

.button:active {
  transform: translateY(1px);
  color: #EAFFF0;
}

.input-text input {
  width: 80%;
  max-width: 400px;
  padding: 12px 15px;
  margin-top: 20px;
  border: 2px solid #77967D;
  border-radius: 8px;
  background-color: #2D2D2D;
  color: #FFFFFF;
  font-size: 16px;
}

.input-text input:focus {
  outline: none;
  box-shadow: 0 0 5px #77967D;
}

.input-text input::placeholder {
  color: #AAAAAA;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #585A62;
  color: #FFFFFF;
  margin-top: 50px;
}
